/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    /*background: #4499ff;*/
    background-image:url('../img/fundo.jpg');
    background-size: auto 100vh; /*percentual no tamanho - altura - da tela*/
    font-family: Arial;  
    height: 100vh;
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center; /*Só funciona com flex*/
    align-items: center; /*Só funciona com flex*/
  }
  
.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0; /*só funciona por conta do "position"*/
  }
  
.menu ul{
    display: flex; /*colocar o menu na horizontal*/
  /*  justify-content: space-between;*/
    justify-content: space-around;
  }
  
.menu li{
    list-style: none;
  }

.menu a{
  display: block; /* empurra */
  padding: 10px 20px;
  background: aquamarine;
}  
  
a {
    color: teal;
    text-decoration: none;
  }
  
a:hover{
    text-decoration: underline;
  }
  
.site-subtitle, /*os 2 pegarão as mesmas características*/
  .site-title{
    color: whitesmoke; 
    text-align: center;  
  }
  
.site-subtitle{ /*Mais espcífico*/
    font-style: italic;
  }

  .img-portfolio{
    height: 180px;
    width: 180px;
  }